#about
    padding: 80px 0
    .textbox
        h1
            font-size: 55px
            font-weight: 700
        h3
            font-size: 18px
            color: #8b8484
            margin: 15px 0 20px 0
    .ul
        li
    .imgbox
        width: 170px
        height: 170px
        border: 6px solid #c2b6b6
        border-radius: 50%
        overflow: hidden
        margin-left: 462px
        margin-bottom: 80px
    .minibox
        width: 170px
        height: 170px
        width: 170px
        height: 170px
        border: 6px solid #c2b6b6
        border-radius: 50%
        margin-left: 462px
        background: #ffc800
        h6
            font-weight: 700
            font-size: 25px
            color: #ffff
            margin: 35px 17px -27px 51px
            cursor: text
