#about
    padding: 80px 0
    .textbox
        h1
            font-size: 58px
            font-weight: 700
        h3
            font-size: 22px
            color: #8b8484
            line-height: 1.4
            margin: 24px 0 80px 0
    ul
        .box
            .imgbox
                width: 180px
                height: 180px
                border: 6px solid #e9ecef
                border-radius: 50%
                overflow: hidden
            .minibox
                width: 200px
                height: 200px
                width: 170px
                height: 170px
                border: 6px solid #e9ecef
                border-radius: 50%
                background: #ffc800
                h6
                    font-weight: 700
                    font-size: 25px
                    color: #ffff
                    margin: 35px 17px -27px 51px
                    cursor: text
    .txtbox
        width: 334px
        h2
            font-weight: 700
            font-size: 35px
            margin: 10px 0 15px 0
        h5
            font-size: 20px
            color: #797d8b
            font-weight: 500
            line-height: 1.6
    .textbx
        width: 326px
        margin-left: 43px
        h2
            font-weight: 700
            font-size: 35px
            margin: 10px 0 15px 0
        h5
            font-size: 20px
            color: #797d8b
            font-weight: 500
            line-height: 1.6

