header
    background: #212529
    width: 100%
    height: 80px
    position: fixed
    z-index: 1
    .menu
        margin-top: 20px
    .imgbox
        width: 165px
    nav
        display: flex
        justify-content: flex-end
        width: 100%
        a
            color: #c5bcbc
            margin-left: 30px
            font-size: 20px
            &:hover
                color: #ffc800
    .burger
        display: none
@media screen and ( max-width: 1092px)
    .burger
        display: block
        width: 100px
        height: 50px
        border-radius: 5px
        border: 1px solid #ffff
        p
            color: #ffff
    .stick
    .line1,.line2,.line3
        width: 10px
        height: 2px
        background-color: #ffff
    .line2
        margin: 3px 0
    nav
        display: flex
        flex-direction: column
        position: absolute
        top: 80px
        left: 0
        background: #212529
